link(href='/css/index.css' rel='stylesheet')
script(src='/js/index.js')
html
    head
        title UI Bootcamp
        body
            h1.welcome Welcome to UI Bootcamp
            p#fun Let's have some fun...!
